<h1>Angular 8 pipes</h1>
<p>Pipes are used to <strong>Transform Data</strong>. It is denoted by |. It transforms the data in the format
as required and displays the same in the browser.</p>

<br><br>
<h1>UpperCase Pipe and LowerCase Pipes</h1> <br>
<hr>
<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>
<h1>{{'Raj' | uppercase}}</h1><br>

<h1>Currency Pipe</h1>
<h1>My Salary is : {{salary | currency:"INR"}}</h1><br>

<h1>Decimal Pipe</h1>
<h1>{{ 454.78787814 }} - {{ 454.78787814 | number:'3.4-4' }}</h1><br>
<h1>{{ 5.123456789 }} - {{ 5.123456789 | number:'3.1-5' }}</h1><br>

<h1>JSON Pipe</h1>
<strong>{{ jsonval | json }}</strong>
<br><br>

<h1>Slice Pipes</h1>
<strong>{{ months | slice:2:8 }}</strong>
<br><br>
